<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275374348590-1arv25n0pbvohtk5o4j4aud45310397e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275374348590-1arv25n0pbvohtk5o4j4aud45310397e</string>
	<key>API_KEY</key>
	<string>AIzaSyAdnOqAaaWhwzlx0vs3IhsukOJAEkJqUQE</string>
	<key>GCM_SENDER_ID</key>
	<string>275374348590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prodigi.Advance-Course-Project</string>
	<key>PROJECT_ID</key>
	<string>pro-digi-advanced</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-digi-advanced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275374348590:ios:14866392392e8323</string>
	<key>DATABASE_URL</key>
	<string>https://pro-digi-advanced.firebaseio.com</string>
</dict>
</plist>